@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Poppins&family=Victor+Mono:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-family: "Victor Mono", monospace !important;
  padding: 0px;
  margin: 0px;
}
